{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ustaw nowe hasło</h1>
    <form method="POST">
        <label for="password">Nowe hasło:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Zresetuj hasło</button>
    </form>
{% endblock %}

